.wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}
.countValue {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.time {
  font-family: var(-font);
  font-size: 18px;
  color: #fff;
  padding: 18px 28px;
  border-radius: 4px;
  background: #ed5829;
  align-items: center;
  position: relative;
}
.time::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background: #ed5829;
  z-index: 1;
}
.countText {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  align-items: center;
  background: #ed5829;
  margin-top: 7px;
}

.text {
  font-family: var(-font);
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  background: #ed5829;
  width: 100%;
  text-align: center;
}
