.navbarContaner {
  background: #001d4b;
  padding: 5px 0;
  padding-bottom: 30px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
}
.navbar {
  max-width: 1050px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.logoText {
}
.logo {
  font-family: var(-font);
  font-size: 60px;
  color: #ff4040;
  line-height: 100%;
}
.tagline {
  font-family: var(-font);
  font-size: 18px;
  color: #fff;
  padding-top: 5px;
  font-weight: 500;
}
.navItems {
  display: flex;
  align-items: center;
  gap: 30px;
}
.navItem {
  font-family: var(--font);
  font-size: 16px;
  color: #fff;
  font-weight: 300;
  text-decoration: none;
}
.hamburger {
  display: none;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}
.close {
  position: absolute;
  top: 24px;
  right: 24px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.sidebar {
  display: none;
}
.mobileNav {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(110%);
  transition: 1s;
  padding: 20px;
  padding-left: 30px;
  padding-top: 80px;
  width: 250px;
  background: #001d4b;
}
@media only screen and (max-width: 991px) {
  .navbar {
    display: grid;
    grid-template-columns: 1fr 30px;
  }
  .hamburger {
    display: block;
  }
  .navItems {
    display: none;
  }
  .sidebar {
    transform: translate(0);

    transition: 1s;
  }
}
@media only screen and (max-width: 767px) {
  .navbar {
    padding-top: 10px;
  }
  .logo {
    font-size: 40px;
  }
  .tagline {
    font-size: 15px;
  }
}
@media only screen and (max-width: 400px) {
  .mobileNav {
    width: 100%;
    align-items: center;
  }
}
